{%- capture body_classes -%}
template-{{ template.name | handle }} {{ template.name }}-{{ template.suffix }} {{ template.name | append: '-' | append: handle }} {% if cart.item_count == 0 %}cart-empty{% endif %}
{%- endcapture -%}

{% liquid
  assign enable_rtl = settings.enable_rtl
  assign language_support_rtl = settings.language_support_rtl
  if enable_rtl and language_support_rtl != blank
    assign shop_locale = localization.language.iso_code
    assign language_support_rtl_list = language_support_rtl | split: ','
    assign is_rtl = language_support_rtl_list | where: shop_locale
    if is_rtl.size > 0
      assign enable_rtl = true
    else
      assign enable_rtl = false
    endif
  endif
%}
<!doctype html>
<html
  class="no-js supports-no-cookies"
  lang="{{ request.locale.iso_code }}"
  style="--sf-page-opacity: 0;"
  data-template="{{ template.name }}"
  {% if enable_rtl %}dir="rtl"{% endif %}
>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	<meta name="theme-color" content="{{ settings.color_primary }}">

  {% render 'preload' %}
  {% render 'SEO' %}
  {% render 'social-meta-tags' %}
  {% render 'font-face' %}
  {% render 'critical-css' %}
  {% render 'critical-scripts' %}
  {% render 'style-tags' %}
  {% render 'custom-code-head' %}

  {% comment %} {% render 'content_for_header' %} {% endcomment %}
  {% unless request.design_mode %}{% include 'wlm-head' %}{% endunless %}
{{ content_for_header }}
  {%- render 'thinkplus-code-head' -%}
{% capture boostersnippet %}{% include "booster-apps-common" %}{% endcapture %}{% unless boostersnippet contains "Liquid error" %}{{ boostersnippet }}{% endunless %}
</head>
<!-- ---------------------------------------------
|  _____ _     _       _      ____  _             |
| |_   _| |__ (_)_ __ | | __ |  _ \| |_   _ ___   |
|   | | | '_ \| | '_ \| |/ / | |_) | | | | / __|  |
|   | | | | | | | | | |   <  |  __/| | |_| \__ \  |
|   |_| |_| |_|_|_| |_|_|\_\ |_|   |_|\__,_|___/  |
|                                                 |
|          CREATIVE AND SOFTWARE AGENCY           |
|                                                 |
|    Shopify design & development by Think Plus   |
|       Learn more at https://think-plus.gr       |
|                                                 |
---------------------------------------------- -->

<body
  id="sf-theme" style="opacity: 0;"
  class="{{ body_classes }} relative min-h-screen{% if customer %} customer-logged-in{% endif %}"
  {% if template.name == 'product' %}data-product-id="{{ product.id }}"{% endif %}
>
  
  {% render 'theme-data' %}
  {% section 'annoucement' %}
  {% section 'header' %}
  {% render 'scroll-top-button' %}

  <main role="main" id="MainContent">
    {% comment %}{{ content_for_layout }}{% endcomment %}{% include 'wlm-body' %}
    <div id="cart-drawer-container"></div>
  </main>

  {% section 'footer' %}
  {% section 'mobile-sticky-bar' %}

  {% render 'custom-code-body' %}
  {% render 'foxkit-messenger' %}
  {% render 'script-tags' %}
  {%- render 'thinkplus-code-body' -%}
  <!-- WPD Start -->
                {% if customer.tags.size > 0 and template != 'cart' %}
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                      let checkoutbtninterval = setInterval(function(){
                        var x=document.querySelectorAll("input[name='checkout'], button[name='checkout'], input[name='goto_pp'], button[name='goto_pp'], input[name='goto_gc'], button[name='goto_gc'], [href$='checkout']");
                        var WPD_RedirectToCart = function(e) {
                          	e.stopPropagation();
                            e.preventDefault();
                            window.location = '/cart';
                            };
                            for (var i = 0; i < x.length; i++) {
                                x[i].addEventListener('click', WPD_RedirectToCart, false);
                            }
                        },500)
                });
              </script>
               {% endif %}
         

               {% if customer.tags.size > 0 and template == 'cart' %}
                 {% include 'wcp_cart' %}
               {% endif %}
               <!-- WPD End -->
  {% render 'wpd_custom' %}
  
<style>
  .account-ui-fix {
    padding-left: 0;
    padding-right: 20px;
    width: 20%;
  }
  
  ul.sf-nav li:last-child {
      color: #2d7d7e;
    font-weight: bold;
}

@media (max-width: 768px) {
  ul.sf-nav li:last-child {
    color: #2d7d7e;
    font-weight: bold;
  }
}

/* Hide the result header from the search */
h1.page-header__title{
  display:none;
}
  
</style>
{% assign wcp_wholesale_customer = false %}
{% if shop.metafields.wcp_status.wcp_status != 'disabled' and customer %}
{% assign active_discounts = shop.metafields.wcp_active_discounts.wcp_active_discounts %}
{% assign active_discounts_array = active_discounts | split: ',' %}
{% assign customer_tags = blank %}
{% for tag in customer.tags %}
{% assign tempTag = tag | downcase %}
{% assign customer_tags = customer_tags | prepend:tempTag %}
{% unless forloop.last %}
{% assign customer_tags = customer_tags | prepend:','  %}
{% endunless %}
{% endfor %}
{% assign customer_tags = customer_tags | split:',' %}
{% assign active_discounts = active_discounts | downcase %}
{% for discount_key in active_discounts_array %}
{% assign key_split = discount_key | split: '-' %}
{% assign key_split_length = key_split | size %}
{% if key_split_length > 2 %}
{% assign removeable_key = key_split.last | prepend: '-' %}
{% assign wcp_customer_tag = discount_key | remove_last: removeable_key %}
{% else %}
{% assign wcp_customer_tag = key_split[0] %}
{% endif %}
{% assign wcp_customer_tag = wcp_customer_tag | downcase %}
{% if customer_tags contains wcp_customer_tag %}
{% assign wcp_wholesale_customer = true %}
{% endif %}
{% endfor %}
{% endif %}
{% if wcp_wholesale_customer == true %}
<style>
  .sf-cart-subtotal__price.font-medium .wcp-original-cart-total{
    display:none !important; 
  }
   .wcp-cart-total{
  display:block !important;
  }
</style>
{% endif %}
{% assign wcp_wholesale_customer = false %}
{% if shop.metafields.wcp_status.wcp_status != 'disabled' and customer %}
{% assign active_discounts = shop.metafields.wcp_active_discounts.wcp_active_discounts %}
{% assign active_discounts_array = active_discounts | split: ',' %}
{% assign customer_tags = blank %}
{% for tag in customer.tags %}
{% assign tempTag = tag | downcase %}
{% assign customer_tags = customer_tags | prepend:tempTag %}
{% unless forloop.last %}
{% assign customer_tags = customer_tags | prepend:','  %}
{% endunless %}
{% endfor %}
{% assign customer_tags = customer_tags | split:',' %}
{% assign active_discounts = active_discounts | downcase %}
{% for discount_key in active_discounts_array %}
{% assign key_split = discount_key | split: '-' %}
{% assign key_split_length = key_split | size %}
{% if key_split_length > 2 %}
{% assign removeable_key = key_split.last | prepend: '-' %}
{% assign wcp_customer_tag = discount_key | remove_last: removeable_key %}
{% else %}
{% assign wcp_customer_tag = key_split[0] %}
{% endif %}
{% assign wcp_customer_tag = wcp_customer_tag | downcase %}
{% if customer_tags contains 'b2b' %}
{% assign wcp_wholesale_customer = true %}
{% endif %}
{% endfor %}
{% endif %}
{% if wcp_wholesale_customer == true %}
<style>
   .additional-notes{
  display:none !important;
  }

  /* button.coupon.sf__tooltip-item.sf__tooltip-top {
    display:none;
  } */
</style>
{% endif %}


<script>
window.WLM_Theme_Default_Search_main_container="search-results-wrapper"
window.WLM_Theme_Default_Search_List_container="ar__new-node"
</script>
<script src="{{ 'wlm-theme-search.js' | asset_url }}"></script>
  
</body>
</html>
